* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(../assets/fonts/Inter-Bold.ttf);
    font-family: 'Inter-Bold';
}

@font-face {
    src: url(../assets/fonts/Inter-Regular.ttf);
    font-family: 'Inter-Regular';
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Inter-Bold';
}

a, p {
    font-family: 'Inter-Regular';
}

.titulo-error {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 300px;
    gap: 8px;
    border: 1px solid black;    
}

.form__container-field {

}

.form__field-label {

}

.form__field-input {

}

.buttons {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.buttons__accion {

}