* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 700px;
}

.form__container {
    padding: 30px;
    background: #000018;
}

.form-label {
    color: white;
    font-size: 20px;
}